<!-- Clips List -->
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/1.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/2.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/3.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/2.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/3.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
  <a
    class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300"
    href="#">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" src="assets/img/1.jpg">

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg class="absolute bottom-0 w-full h-full tranform" preserveAspectRatio="none"
               style="transform-origin: top center; transform: scale(2);"
               viewBox="0 0 100 50">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-3xl mb-2">
        Game Highlighting Clip
      </h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>

    </div>

  </a>
</div>
