<!-- Main content -->
<div class="relative m-auto left-0 right-0 z-10 w-36 h-52 border-indigo-400 border-4 top-32 ghost">
  <span class="absolute left-0 right-0 bottom-10 m-auto text-center text-4xl font-bold">404</span>
  <!-- Eyes -->
  <div class="rounded-full absolute left-0 right-0 w-3 h-3 bg-indigo-400 mx-auto mt-10 transform translate-x-6"></div>
  <div class="rounded-full absolute left-0 right-0 w-3 h-3 bg-indigo-400 mx-auto mt-10 transform -translate-x-6"></div>

  <!-- Mouth -->
  <div class="w-10 h-2 rounded-lg absolute left-0 right-0 mx-auto mt-20 bg-indigo-400"></div>

  <!-- Tail -->
  <div class="corner border-indigo-400 border-4"></div>
  <div class="corner two border-indigo-400 border-4"></div>
  <div class="corner three border-indigo-400 border-4"></div>
  <div class="corner four border-indigo-400 border-4"></div>

  <div class="over"></div>
  <div class="over two"></div>
  <div class="over three"></div>
  <div class="over four"></div>

  <!-- Shadow -->
  <div class="ghost-shadow w-32 h-10 mx-auto mt-56 rounded bg-indigo-400 left-0 right-0 absolute"></div>
</div>

<div class="container mx-auto text-center mt-60">
  <h2 class="text-4xl font-bold mb-4">Page not found</h2>
  <p>
    Looks like the page you're looking for is gone or doesn't exist.
  </p>
</div>
