<!-- Header -->


<header class="bg-secondary" id="header">


  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <!-- App Name -->
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/">Mini-Motion</a>

    <section class="flex flex-grow top-nav items-center">

      <input id="menu-toggle" type="checkbox"/>
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>

      <!-- Primary Navigation -->
      <ul class="flex flex-row menu mt-1">
        <!-- Navigation Links -->

        <ng-template #authLinks>
          <li><a [queryParams]="{sort: 1}" [routerLinkActiveOptions]="{exact: true}" class="px-2"
                 routerLink="/manage" routerLinkActive="text-indigo-400">Manage</a></li>

          <li><a class="px-2" routerLink="/upload" routerLinkActive="text-indigo-400">Upload</a></li>

          <li><a (click)="auth.logout($event)" class="px-2 cursor-pointer ">Logout</a></li>
        </ng-template>


        <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks ">
          <a (click)="openModal($event)" class="px-2 cursor-pointer">Login / Register</a>
        </li>

        <li><a class="px-2" routerLink="/about" routerLinkActive="text-indigo-400">Contact</a></li>




      </ul>
      <!--      <div class="flex flex-row ml-auto">-->
      <!--        <div class="container">-->
      <!--          <input (click)="ontoggle()" class="toggle-button" type="checkbox">-->
      <!--        </div>-->
      <!--      </div>-->

    </section>

  </nav>
</header>
