<app-alert *ngIf="showAlert" [color]="alertColor">{{alertMsg}}</app-alert>

<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="register()" >
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input [control]="registerForm.controls.name"
               [label]="'Name'"
               [placeholder]="'Enter Name'"
               [type]="'text'">
    </app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input [control]="registerForm.controls.email"
               [label]="'Email'"
               [placeholder]="'Enter Email'"
               [type]="'email'">
    </app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input [control]="registerForm.controls.age"
               [label]="'Age'"
               [placeholder]="'Enter Age'"
               [type]="'number'">
    </app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input [control]="registerForm.controls.password"
               [label]="'Password'"
               [placeholder]="'Enter Password'"
               [type]="'password'">
    </app-input>

  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input [control]="registerForm.controls.confirmPassword"
               [label]="'Confirm Password'"
               [placeholder]="'Confirm Password'"
               [type]="'password'">
    </app-input>

  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input [control]="registerForm.controls.phoneNumber"
               [label]="'Phone Number'"
               [placeholder]="'Enter Phone Number'"
               [type]="'text'">
    </app-input>

  </div>
  <button class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500"
          [disabled]="registerForm.invalid || inSubmission"
          type="submit">
    Submit
  </button>
</form>
