<input [formControl]="control"
       [placeholder]="placeholder"
       [type]="type"
       class="block w-full py-1.5 px-3 text-gray-200 border
       border-gray-400 transition duration-500 focus:outline-none
       rounded bg-transparent focus:border-indigo-400"/>
<ng-container *ngIf="control.touched && control.dirty">
  <p
    *ngIf="control.errors?.['required']"
    class="text-red-400 text-xs italic">
    Please enter your name.
  </p>

  <p *ngIf="control.errors?.['minlength']"
     class="text-red-400 text-xs italic">
    The Value you entered is
    {{control.errors?.['minlength'].actualLength}}
    characters long.
    It should be at least
    {{control.errors?.['minlength'].requiredLength}}
  </p>

  <p *ngIf="control.errors?.['maxlength']"
     class="text-red-400 text-xs italic">
    The Value you entered is
    {{control.errors?.['maxlength'].actualLength}}
    characters long. It should be at most
    {{control.errors?.['maxlength'].requiredLength}}
  </p>

  <p *ngIf="control.errors?.['email']"
     class="text-red-400 text-xs italic">
    You must enter a valid email address.
  </p>

<!--  Validation for Age  -->

  <p *ngIf="control.errors?.['min']"
     class="text-red-400 text-xs italic">
    You must be at least
    {{control.errors?.['min'].min}}
    years old.
  </p>


  <p *ngIf="control.errors?.['pattern']"
     class="text-red-400 text-xs italic">
    The Value you entered is not valid.
  </p>


</ng-container>
