<!-- Top Bar -->
<section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex justify-between">
    <a routerLink="/upload" class="bg-indigo-400 text-white py-4 px-10 text-xl">Upload Videos</a>

    <!-- Sort Videos -->
    <select class="text-black px-8 text-xl outline-none appearance-none">
      <option value="1">Recent Uploads</option>
      <option value="2">Oldest Uploads</option>
    </select>
  </div>
</section>

<!-- User's Video Section -->
<div class="container mx-auto my-8">
  <!-- Video List -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
    <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" src="../src/assets/img/1.jpg">
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl">

        <!-- Link -->
        <a href="#" class="font-bold mb-2">
          Game Highlighting Clip
        </a>
        <a href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
          Copy Link
        </a>

      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a href="#" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="hidden">
  <p class="text-2xl font-bold">Edit Video</p>

  <!-- Form -->
  <form>
    <!-- Title -->
    <div class="mt-4">
      <label class="block text-xl mb-4">Title</label>
      <input placeholder="Enter Title" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400">
    </div>

    <div class="mt-4 text-right">
      <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 focus:outline-none">
        Update
      </button>
    </div>
  </form>
</div>
