<app-alert *ngIf="showAlert" [color]="alertColor">{{alertMessage}}</app-alert>

<!-- Login Form -->
<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input #email="ngModel"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent
                  focus:border-indigo-400"
           placeholder="Enter Email"
           name="email"
           [(ngModel)]="credentials.email"
           required
           pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           type="email"/>
    <p class="text-red-400 " *ngIf="email.errors && email.touched && email.dirty">
      Email is invalid.
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input #password='ngModel' class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Password"
           name="password"
           [(ngModel)]="credentials.password"
           required
           type="password"/>

    <p class="text-red-400 " *ngIf="password.errors && password.touched && password.dirty">
      Password is required.
    </p>

  </div>
  <button
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-indigo-400"
    type="submit"
    [disabled]="loginForm.invalid || inSubmission">
    Submit
  </button>
</form>
